.navbar {
    transition: all 0.4s ease-in-out;
}

.navbar .btn-outline-light {
    border: 2px solid var(--bs-light);
}

.navbar .btn-outline-light:hover {
    color: var(--bs-secondary);
}

.navbar-background {
    background: var(--bs-dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar-scroll-background {
    // background: #003366e6;
    background: #004080e8;
    // background: #4169e1e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.nav-link:hover {
    color: #1a79ff;
}

@media (min-width: 320px) and (max-width: 992px) {
    .navbar-scroll-background-sm {
        background: #2b3041e4;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
}

.bg-gradient {
    background: linear-gradient(
        to bottom, 
        #6faafd 0%, #f3f6f9 75%, #6faafd 100%
    ) !important;
}

.card-shadow {
    box-shadow: 2px 4px 12px rgba(12, 17, 77, 0.4);
}