<!-- Footer -->
<footer class="footer bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-3">
                <h6 class="fw-bold">About Money Flow</h6>
                <p>
                    Money Flow is a web application for personal finance management.  
                    It helps users track their income, expenses, and savings efficiently.  
                    This project was developed as a university practice initiative at  
                    Sigma Software University.
                </p>
            </div>
            <div class="col-md-4 my-3">
                <h6 class="fw-bold">Links</h6>
                <ul class="list-unstyled">
                    <li>
                        <span class="text-white-50">Cool features of this web app:</span>  
                        <a href="../index.html#features" class="nav-link fw-semibold">Features</a>
                    </li>
                    <li class="mt-2">
                        <span class="text-white-50">About the project and team:</span>  
                        <a href="../pages/about.html" class="nav-link fw-semibold">About</a>
                    </li>
                    <li class="mt-2">
                        <span class="text-white-50">Privacy policy:</span>  
                        <a href="../pages/privacy.html" class="nav-link fw-semibold">Privacy</a>
                    </li>
                    <li>
                        <a href="../pages/help.html" class="nav-link fw-semibold">Help</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 my-3">
                <h6 class="fw-bold">Social Media & Repository</h6>
                <div class="mb-4">
                    <a 
                        class="text-decoration-none"
                        href="https://www.instagram.com/sigma.software.university/"
                        target="_blank"
                    >
                        <i class="fab fa-instagram fa-3x text-primary mx-2"></i>
                    </a>
                    <a 
                        class="text-decoration-none"
                        href="https://www.facebook.com/SIGMASOFTWAREGROUP/"
                        target="_blank"
                    >
                        <i class="fab fa-facebook fa-3x text-primary mx-2"></i>
                    </a>
                    <a 
                        class="text-decoration-none"
                        href="https://t.me/s/SigmaSoftwareUniversity?after=44"
                        target="_blank"
                    >
                        <i class="fab fa-telegram fa-3x text-primary mx-2"></i>
                    </a>
                    <a 
                        class="text-decoration-none"
                        href="https://github.com/wastardy/sigma_webapp_client"
                        target="_blank"
                    >
                        <i class="fab fa-github fa-3x text-primary mx-2"></i>
                    </a>
                </div>
                <p>
                    &copy; MoneyFlow Team &#8226; 
                    All Rights Reserved &#8226;
                    Practice Project 2025
                </p>
                <p>
                    We would love to hear from you
                    <a href="mailto:wastardy@gmail.com">
                        <strong>wastardy@gmail.com</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>